// app global css in SCSS form
.link {
  text-decoration: none;
  color: $instaBlue;
}
.text-black-opacity {
  color: #000000;
  opacity: 40%;
}
.container-bottom {
  z-index: 6000;
  position: fixed;
  bottom: 0;
  background-color: $background-ligth;
}
